<!DOCTYPE HTML>

<html lang="de">

<head>
    <title>Audio - FAQ</title>
    <meta charset="UTF-8">
    <meta name="author" content="David Penkowoj">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" defer></script>
    <script src="./scripts/faq-loader.js" defer></script>
    <script src="./scripts/faq-data.js" defer></script>
    <link rel="stylesheet" href="./styles/faq.css">
</head>

<body>
    <noscript>Ihr Browser unterstützt einige Features dieser Seite nicht!</noscript>
    <div id="list">

    </div>
</body>

</html>