<!DOCTYPE HTML>

<html lang="de">

<head>
    <title>Hilfe Fuchs</title>
    <meta charset="UTF-8">
    <meta name="author" content="David Penkowoj">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="shortcut icon" href="fuchs.png" type="image/x-icon">
</head>

<body>
    <noscript>Ihr Browser unterstützt einige Features dieser Seite nicht!</noscript>
    <img id="logo" src="fuchs.png">
    <h1>Hilfe Fuchs</h1>
    <h2>Rechte bei Jesper-Ole Wehrsig & David Penkowoj</h2>
    <div>
        <button class="dropdown">FAQs</button>
        <div class="panel">
            <p class="link" onclick="sendTo(`audio-faq`);">Audio</p>
            <div class="divider"></div>
            <p class="link" onclick="sendTo(`video-faq`);">Video</p>
            <div class="divider"></div>
            <p class="link" onclick="sendTo(`licht-faq`);">Licht</p>
            <div class="divider"></div>
            <p class="link" onclick="sendTo(`rigging-faq`);">Rigging</p>
        </div>
        <button class="dropdown">Erklärungen</button>
        <div class="panel">
            <p class="link" onclick="sendTo(`audio-explanation`);">Audio</p>
            <div class="divider"></div>
            <p class="link" onclick="sendTo(`video-explanation`);">Video</p>
            <div class="divider"></div>
            <p class="link" onclick="sendTo(`licht-explanation`);">Licht</p>
            <div class="divider"></div>
            <p class="link" onclick="sendTo(`rigging-explanation`);">Rigging</p>
            <div class="divider"></div>
            <p class="link" onclick="sendTo(`vokabular-faq`);">Fachvokabular</p>
        </div>
        <button class="dropdown">FTH Dienste</button>
        <div class="panel">
            <p>Fehlen noch</p>
        </div>
    </div>
    <script type="text/javascript">
        const buttons = document.getElementsByClassName("dropdown");

        for (let i = 0; i < buttons.length; i++) {
            if (i == buttons.length) continue;

            buttons[i].addEventListener("click", (event) => {
                event.target.classList.toggle("active");

                let panel = event.target.nextElementSibling;

                panel.style.maxHeight = (panel.style.maxHeight ? null : `${panel.scrollHeight}px`);
            });
        }

        const sendTo = (string) => {
            location.assign(`${location.origin}/${string}`);
        }
    </script>
</body>

</html>