* {
    font-family: sans-serif;
}

body {
    background-color: #121212;
}

.dropdown {
    width: 100%;
    border: none;
    outline: none;
    padding: 18px;
    cursor: pointer;
    color: #121212;
    text-align: left;
    background-color: #6BB300;
    transition: 0.2s;
}

.active,
.dropdown:hover {
    color: #FFFFFF;
    background-color: #477700;
}

.panel {
    max-height: 0;
    padding: 0 18px;
    overflow: hidden;
    color: #FFFFFF;
    background-color: #7DD100;
    transition: all 0.2s ease-in-out;
}